.navbar-default {
	background-color: white ! important;
	margin-bottom: 0px ! important;
}

.navbar li  a {
	color: black ! important;
}

.navbar-brand {
	color: black ! important;
	position: relative;
}

body {
	color: black ! important;
}

.banner {
	padding: 30px 0px;
	color: white;
	text-align: center;
	display: inline-block;
}

.banner_heading {
	color: white;
	margin: 20px 0px;
	font-size: 80px;
	font-weight: bold;
}

.bannerText {
	background: transparent ! important;
	color: white ! important;
	text-align: center ! important;
	border: none ! important;
	font-family: Arial ! important;
	font-size: 28px ! important;
	color: #eaecef ! important;
}

.pre {
	background: transparent ! important;
	color: white ! important;
	text-align: left ! important;
	border: none ! important;
	font-family: Arial ! important;
	font-size: 28px ! important;
	color: #eaecef ! important;
}

.getStarted {
	background: transparent;
	border: 1px solid white;
	height: 70px;
	width: 250px;
	border-radius: 12px;
	font-size: 15px;
	font-weight: bold;
}

.getStarted:hover {
	background-color: blue;
	border: none ! important;
	margin-top: -5px;
}

.about {
	background-color: blue;
	color: white;
	text-align: center;
	padding: 60px 30px;
}

.aboutHeading_1 {
	font-size: 15px;
	font-weight: bold;
	margin: 20px 0px;
}

.aboutHeading_2 {
	font-size: 30px;
}

.glyphicon {
	font-size: 48px;
	margin-bottom: 20px;
}

.aboutSections {
	margin-top: 30px;
	padding: 30px 60px;
	text-align: left;
}

.aboutSectionHeading {
	font-size: 18px;
}

.aboutHeadingContent {
	margin-top: 10px;
	font-size: 15px;
	line-height: 0.8cm;
}

.feature {
	margin: 30px 0px;
	text-align: center;
	padding: 40px 0px;
	
}

.featureHeading_1, .teamHeading_1, .teamSubHeading_1 {
	color: blue;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.contactHeading_1 {
	color: blue;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
}

.teamSubHeading_2 {
	font-family: cursive;
	font-size: 12px;
	color: #646566;
}

.featureHeading_2, .teamHeading_2 {
	font-size: 26px;
	margin-top: 20px;
}

.featureDescription, .teamDescription {
	font-size: 18px;
	margin-top: 30px;
	color: #646566;
	text-align: center;
	margin-bottom: 20px;
}

.featureSection {
	margin-top: 40px;
	padding: 40px;
}

.featureSection_1 {
	text-align: right;
	padding: 20px;
	
}

@media only screen and (max-width: 520px) {
	
	.featureSection_1, .featureSection_2, .featureSection_3 {
		padding: 20px 0px ! important;
		text-align: center ! important;
		
	}
	.featureSectionHeading {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	.featureSection {
		padding: 20px ! important;
	}
}

.featureSection_2 {
	text-align: center;
	padding: 20px;
}

.featureSection_3 {
	text-align: left;
	padding: 20px;
	
}

.featureSectionHeading {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.featureSectionContent {
	margin-top: 20px;
	color: #646566;
	font-size: 16px;
	line-height: 0.7cm;
}

@media only screen and (max-width: 520px) {
	.featureSectionHeading, .featureSectionContent {
		text-align: left;
	}
	.featureSection {
		margin-top: 40px;
		/* padding-left: 40px;
	padding-right: 40px;
	padding-left: 40px; */
		padding: 0px;
	}
}

#menuBuilder {
	padding: 40px 100px;
	padding-bottom: 70px;
	color: white;
}

@media only screen and (max-width: 520px) {
	#menuBuilder {
		padding: 40px 0px;
	}
}

.viewMore, .applyForAJob {
	background: blue;
	color: white;
	border: none;
	height: 50px;
	width: 200px;
	border-radius: 12px;
	font-size: 16px;
	margin: 20px 0px;
}

.service {
	color: white;
	text-align: center;
	background-color: blue;
	padding: 30px 0px;
}

.serviceHeading_1 {
	color: white;
	font-size: 12x;
	font-weight: bold;
	margin-top: 20px;
}

.serviceHeading_2 {
	font-size: 26px;
	margin-top: 20px;
}

.serviceSubHeading {
	font-size: 20px;
	margin: 20px 0px;
}

.serviceList {
	padding-left: 80px ! important;
	padding-right: 80px ! important;
	text-align: left;
}

hr {
	border-top: 1px dotted white ! important;
}

.team {
	text-align: center;
	margin: 30px 0px;
}

td a {
	font-weight: bold;
	color: #505151;
}

.footer>hr {
	border-bottom: 1px dotted #d4d6d6 ! important;
	padding-top: 30px ! important;
}

.footer {
	margin-top: 20px;
	padding: 0px 60px ! important;
}

.contact {
	padding: 0px 60px ! important;
}
